<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"></script>
<script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script src="https://use.fontawesome.com/releases/v5.8.1/css/all.css"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<p>home works!</p>
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<div class="listing" *ngFor="let product of products; index as productId">
    <div class="container d-flex justify-content-center">
        <figure class="card card-product-grid card-lg"> <a href="#" class="img-wrap" data-abc="true"> <img src="{{ product.image }}"> </a>
            <figcaption class="info-wrap">
                <div class="row">
                    <div class="col-md-9 col-xs-9"> <a href="#" class="title" data-abc="true">{{product.name}}</a> <span class="rated">Grocrey</span> </div>
                    <div class="col-md-3 col-xs-3">
                        <div class="rating text-right"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <span class="rated">Rated 4.0/5</span> </div>
                    </div>
                </div>
            </figcaption>
            <div class="bottom-wrap-payment">
                <figcaption class="info-wrap">
                    <div class="row">
                        <div class="col-md-9 col-xs-9"> <a href="#" class="title" data-abc="true">{{product.price}}</a> <span class="rated">Including Taxes</span> </div>
                        <div class="col-md-3 col-xs-3">
                            <div class="rating text-right"> ## 8787 </div>
                        </div>
                    </div>
                </figcaption>
            </div>
            <div class="bottom-wrap"> <a href="#" class="btn btn-primary float-right" (click)="addToCart(product)" data-abc="true"> Buy now </a>
                <div class="price-wrap"> <a href="#" class="btn btn-warning float-left" data-abc="true"> Cancel </a> </div>
            </div>
        </figure>
    </div>
</div>

<!-- 
<div class="listing" *ngFor="let product of products; index as productId">
        <h3>
            <a [title]="product.name +' details'"[routerLink]="['/products',productId]">
                {{product.name}}
            </a>   
        </h3>
        <img src="{{ product.image }}" alt="product.name" >
    <p *ngIf="product description">
        {{ product.description }}
    </p>
    <p>
        {{product.price}}
    </p>
    <a class="button fancy-button" (click)="addToCart(product)">
        <i class="material-icons">shopping_bag</i>
        Add to Cart
    </a>
</div> -->


