<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<a [routerLink] = "['/']">
    <h2> ShopKirana </h2>
</a>    
{{authService.isLoggedInUser()}}
<a *ngIf="!authService.isLoggedInUser()" routerLink = "/login" class= "button fancy-button">
    <i class="material-icons">login  </i>
    Login    
</a>
<a *ngIf="authService.isLoggedInUser()" routerLink = "/welcome" class= "button fancy-button">
    <i class="material-icons">account_circle  </i>
    Welcome {{authService.currentuser}}     
</a>